<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <display-name>OrderWebApp</display-name>

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>ValidateProductServlet</servlet-name>
        <servlet-class>com.seeree.orderapp.ValidateProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ValidateProductServlet</servlet-name>
        <url-pattern>/ValidateProductServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SaveOrderServlet</servlet-name>
        <servlet-class>com.seeree.orderapp.SaveOrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SaveOrderServlet</servlet-name>
        <url-pattern>/SaveOrderServlet</url-pattern>
    </servlet-mapping>

</web-app>